includes:
  - rules.neon

parameters:
  level: 7
  paths:
    - src
    - tests
  excludePaths:
    - %currentWorkingDirectory%/vendor/
    - %currentWorkingDirectory%/tests/*/data/*
    - %currentWorkingDirectory%/tests/PreciousTest.php
